.header-site {
    background-image: url(../imgs/pattern.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 300px;
    padding-bottom: 300px;
    width: 1000px;
    height: 500px;
}